{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encolor</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div class="container">
        <h1>Encolor</h1>
        <div class="color-picker">
            <input type="color" id="colorPicker">
            <button onclick="addColor()">Add Color</button>
        </div>
        <div class="color-display" id="colorDisplay"></div>
    </div>
    
    
    <script src="{% static 'js/script.js'%}"></script>
</body>
</html>
